.lmj-plant-item-cover {
	height: 220px;
	width: 220px;
	border-radius: 20px;
}


.lmj-plant-item {
    position: relative;
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}

.lmj-sales {
    position: absolute;
	right: 10px;
	top: 10px;
	font-weight: 500;
	color: white;
	padding: 5px 10px;
	background-color: #31b572;
}